.page {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-sizing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background-color: #2A2C2F;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: repeat(auto-fit, auto);
}