.footer__column-link {
    /* position: absolute; */
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: left;
}

.footer__column-link:hover {
    opacity: 0.8;
}

/*использую точку 675px, т.к. в этой точке происходит перелом и
footer__copyright начинает залезать на блок навигации footer__column*/
@media screen and (max-width: 675px) {
    .footer__column-link {
        font-size: 24px;
        line-height: 24px;
    }
}