.cover__text-title {
    margin: 0 0 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    color: #FFFFFF;
    text-decoration: none;
}

.cover__text-title:hover {
    opacity: 0.8;
}

@media screen and (max-width: 560px) {
    .cover__text-title {
        margin: 0 0 16px;
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}