.footer__copyright {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

/*использую точку 675px, т.к. в этой точке происходит перелом и
footer__copyright начинает залезать на блок навигации footer__column*/
@media screen and (max-width: 675px) {
    .footer__column-link {
        line-height: 14px;
    }
}