.footer__column {
    display: grid;
    position: relative;
    column-gap: 18px;
    grid-template-columns: repeat(5, max-content);
    list-style: none;
    margin: 0;
    padding: 0;
}

/*использую точку 675px, т.к. в этой точке происходит перелом и
footer__copyright начинает залезать на блок навигации footer__column*/
@media screen and (max-width: 675px) {
    .footer__column {
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 24px);
        row-gap: 32px;
        padding-bottom: 48px;
    }
}