.place__website-link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #FFFFFF;
}

.place__website-link:hover {
    opacity: 0.8;
}