.intro {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*использую точку 928px (взято из размера изображения в макете для 1024px),
т.к. на этом значении отсуствуют боковые отступы у изображения*/
@media screen and (max-width: 928px) {
    .intro {
        padding: 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        padding: 0 16px;
    }
}