.place__paragraph-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

/* использую точку 720px, т.к. это минимальная ширина блока place,
состаящая из двух колонок */
@media screen and (max-width: 720px) {
    .place__paragraph-text {
        font-size: 16px;
    }
}